@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero-background {
  background: url('../images/hero-image.jpeg') center/cover no-repeat;
}

.content-container {
  min-height: calc(100vh - 64px - 270px);
}
